* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e3e6e0;
}

/*HEADER*/
.navbar {
  /* background-color: #d9c2d3; */
  background-color: #414d55;
  padding-left: 10vw;
  padding-right: 10vw;
  /* justify-content: flex-end; */
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-nav {
  margin-left: auto;
}
/*FOOTER*/
footer {
  background-color: #414d55;
}

/* HOME PAGE */
.homepage-portrait-img {
  width: 400px;
}

/* PROJECTS */
.project-group-h {
  font-weight: 200;
  font-size: 1.2rem;
}
.project-title {
  font-size: 1rem;
}
.proj-section {
  padding-left: 5vw;
  padding-right: 5vw;
}
.proj-section-heading {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}
/* .cmbyn-preview-img {
  padding-left: 5%;
  padding-right: 5%;
} */
#proj-logo-loveandcr,
#proj-logo-paulalucane {
  margin-top: auto;
  margin-bottom: auto;
}
#proj-logo-paulalucane,
#proj-logo-thebeatles {
  /* padding-left: 3%;
  padding-right: 3%; */
  padding: 2%;
}

/*project pages*/
.project-title-page-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.proj-desc {
  font-weight: 300;
  font-size: 0.95rem;
}
.proj-desc-createdwith {
  font-weight: 400;
  font-size: 0.95rem;
}
/*coffeetable book and title layout*/
.coffebook-layout1,
.title-layout1 {
  padding-left: 30vw;
  margin-top: 1rem;
}
.coffebook-layout2,
.title-layout2 {
  padding-right: 30vw;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.love-and-cr-img,
.ai-img,
.change-of-heart-img,
.light-shadow-stamps,
.organizing-group,
.pastiche,
.reflection-group,
#mindlog-site-map {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10px;
}
.ai-cover-img {
  max-width: 50%;
  padding-top: 10px;
}
.last-proj-img {
  /*to add space between last image and footer in individual project pages*/
  margin-bottom: 2rem;
}
#last-proj-section {
  /*to add space between last project section and footer in project page*/
  margin-bottom: 5rem;
}
.cmbyn-sticker-sheet {
  padding-left: 20vw;
}

.organizing-elements,
.collage,
.culture-day {
  padding-left: 20vw;
  padding-right: 20vw;
}
.pottery-class,
.halloween-movienight,
.me-as-an-artist {
  padding-left: 25vw;
  padding-right: 25vw;
}
/*logos*/
.logo-section {
  /*logo section for the beatles and lilly bloom's*/
  padding-left: 10vw;
  padding-right: 10vw;
}
/* #thebeatles-logo-redblue {
  padding: 8px;
  margin-bottom: 7px;
} */
.lillyblooms-logo {
  padding: 10px;
}
#lillyblooms-logo-text {
  padding: 40px;
}
.extra-space-div {
  height: 50px;
}
