* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #e3e6e0;
}

/*HEADER*/
.navbar {
  /* background-color: #d9c2d3; */
  background-color: #414d55;
  padding-left: 10vw;
  padding-right: 10vw;
  /* justify-content: flex-end; */
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-toggler {
  /*collapse navbar button*/
  border-color: #d48428;
  border-color: #e3e6e0;
  border-width: 2px;
}
/*for logo and linkedin icon*/
.clickable-svg {
  pointer-events: none; /* This ensures clicks pass through the <object> tag */
}
.nested-svg-a {
  display: inline-block; /* Ensure the <a> tag wraps correctly around the object */
}
/*FOOTER*/
footer {
  background-color: #414d55;
  height: 5rem;
}
.footer-contacts-div {
  display: flex;
  justify-content: center;
}
#homepage-footer-contacts {
  display: none;
}
#footer-linkedin-icon,
#footer-email-icon {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* HOME PAGE */
.homepage-grid-div {
  display: grid;
  align-items: end; /*aligns vertically */
  justify-content: center; /*aligns horizontally, like MS Word*/
  margin-top: 5rem;
  grid-template-areas: "image text" "contacts contacts";
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px); /* Equal width columns */
  gap: 2rem;
}
#homepage-portrait-img {
  padding: 30px;
  max-width: 100%; /*100% of the parent element (.homepage-grid-div image grid-template-area that is set to minmax(200px-400px))*/
  grid-area: image;
  z-index: 1;
}
#homepage-illustration-img {
  max-width: 100%; /*100% of the parent element (.homepage-grid-div image grid-template-area that is set to minmax(200px-400px))*/
  grid-area: image;
  z-index: 2;
}
.homepage-text-div {
  grid-area: text;
}
#homepage-greeting,
#aboutpage-greeting {
  font-size: 1.5rem;
  /* color: #978b75; */ /*light brown*/
  /* color: #93460b; */ /*dark orange*/
  color: #d48428;
  font-family: "roca", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.homepage-contacts-div {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* ABOUT PAGE */
#aboutpage-grid-div {
  display: grid;
  align-items: start; /*aligns vertically */
  justify-content: center; /*aligns horizontally, like MS Word*/
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-template-areas: "image text" "contacts text";
  grid-template-columns: minmax(200px, 400px) minmax(60%, auto);
  grid-template-rows: min-content 1fr;
  gap: 2rem;
}
#aboutpage-portrait-img {
  grid-area: image;
  width: 100%;
}
.aboutpage-text-div {
  grid-area: text;
}
#aboutpage-contact-div {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
}
.aboutpage-link-group {
  display: flex;
  gap: 5px;
}
.aboutpage-link-group a {
  color: #d48428;
}
.aboutpage-link-group a:hover {
  color: #93460b;
}

@media screen and (max-width: 768px) {
  /*homepage*/
  .homepage-contacts-div {
    display: none;
  }
  /*aboutpage*/
  .aboutpage-text-div p,
  #aboutpage-contact-div p,
  .aboutpage-link-group a {
    /*target a <p> tag inside a <div> with a class="aboutpage-text-div" and p in #aboutpage-contact-div*/
    font-size: 0.9rem;
  }
  #aboutpage-greeting {
    font-size: 1.3rem;
  }
  /*footer*/
  #homepage-footer-contacts {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .homepage-grid-div {
    display: grid;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-areas: "image" "text" "contacts";
    grid-template-columns: 1fr;
    /* gap: 2rem; */
  }
  .homepage-text-div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  #aboutpage-grid-div {
    grid-template-areas: "text text" "image contacts";
    grid-template-columns: minmax(100px, 200px) auto;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* PROJECTS */
.project-group-h {
  font-weight: 200;
  font-size: 1.2rem;
}
.project-title {
  font-size: 1rem;
}
.proj-section {
  padding-left: 5vw;
  padding-right: 5vw;
}
.proj-section-heading {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}
#proj-logo-loveandcr,
#proj-logo-paulalucane {
  margin-top: auto;
  margin-bottom: auto;
}
#proj-logo-paulalucane,
#proj-logo-thebeatles {
  padding: 2%;
}

/*project pages*/
.project-title-page-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.proj-desc {
  font-weight: 300;
  font-size: 0.95rem;
}
.proj-desc-createdwith {
  font-weight: 400;
  font-size: 0.95rem;
}
/*coffeetable book and title layout*/
.coffebook-layout1,
.title-layout1 {
  padding-left: 30vw;
  margin-top: 1rem;
}
.coffebook-layout2,
.title-layout2 {
  padding-right: 30vw;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.love-and-cr-img,
.ai-img,
.change-of-heart-img,
.light-shadow-stamps,
.organizing-group,
.pastiche,
.reflection-group,
#mindlog-site-map {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10px;
}
.ai-cover-img {
  max-width: 50%;
  padding-top: 10px;
}
.last-proj-img {
  /*to add space between last image and footer in individual project pages*/
  margin-bottom: 2rem;
}
#last-proj-section {
  /*to add space between last project section and footer in project page*/
  margin-bottom: 5rem;
}
.cmbyn-sticker-sheet {
  padding-left: 20vw;
}

.organizing-elements,
.collage,
.culture-day {
  padding-left: 20vw;
  padding-right: 20vw;
}
.pottery-class,
.halloween-movienight,
.me-as-an-artist {
  padding-left: 25vw;
  padding-right: 25vw;
}
/*logos*/
.logo-section {
  /*logo section for the beatles and lilly bloom's*/
  padding-left: 10vw;
  padding-right: 10vw;
}
/* #thebeatles-logo-redblue {
  padding: 8px;
  margin-bottom: 7px;
} */
.lillyblooms-logo {
  padding: 10px;
}
#lillyblooms-logo-text {
  padding: 40px;
}
.extra-space-div {
  height: 50px;
}
