* {
  font-family: "Poppins", sans-serif;
}
:root {
  --midnight-blue: #172126;
  --stormcould-blue: #414d55;
  --misty-white: #e3e6e0;
  --blush-pink: #f6dce0;
  --marigold: #d48428;
  --burnt-abmer: #93460b;
}
body {
  /* background-color: var(--misty-white); */
  background-color: #f0f3ed;
}
.container {
  margin-top: 5rem;
}

/*HEADER*/
.navbar {
  /* background-color: #d9c2d3; */
  background-color: var(--stormcould-blue);
  padding-left: 10vw;
  padding-right: 10vw;
  /* justify-content: flex-end; */
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-toggler {
  /*collapse navbar button*/
  border-color: var(--marigold);
  border-color: var(--misty-white);
  border-width: 2px;
}
/*for logo and linkedin icon*/
.clickable-svg {
  pointer-events: none; /* This ensures clicks pass through the <object> tag */
}
.nested-svg-a {
  display: inline-block; /* Ensure the <a> tag wraps correctly around the object */
}
/*FOOTER*/
footer {
  background-color: var(--stormcould-blue);
  height: 5rem;
}
.footer-contacts-div {
  display: flex;
  justify-content: center;
}
#homepage-footer-contacts {
  display: none;
}
#footer-linkedin-icon,
#footer-email-icon {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* HOME PAGE */
.homepage-grid-div {
  display: grid;
  align-items: end; /*aligns vertically */
  justify-content: center; /*aligns horizontally, like MS Word*/
  margin-top: 5rem;
  grid-template-areas: "image text" "contacts contacts";
  grid-template-columns: minmax(200px, 400px) minmax(200px, 400px); /* Equal width columns */
  gap: 2rem;
}
#homepage-portrait-img {
  padding: 30px;
  max-width: 100%; /*100% of the parent element (.homepage-grid-div image grid-template-area that is set to minmax(200px-400px))*/
  grid-area: image;
  z-index: 1;
}
#homepage-illustration-img {
  max-width: 100%; /*100% of the parent element (.homepage-grid-div image grid-template-area that is set to minmax(200px-400px))*/
  grid-area: image;
  z-index: 2;
}
.homepage-text-div {
  grid-area: text;
}
#homepage-greeting,
#aboutpage-greeting {
  font-size: 1.5rem;
  color: var(--marigold);
  font-family: "roca", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.homepage-contacts-div {
  margin-top: 10%;
  margin-bottom: 10%;
}

/* ABOUT PAGE */
#aboutpage-grid-div {
  display: grid;
  align-items: start; /*aligns vertically */
  justify-content: center; /*aligns horizontally, like MS Word*/
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-template-areas: "image text" "contacts text";
  grid-template-columns: minmax(200px, 400px) minmax(60%, auto);
  grid-template-rows: min-content 1fr;
  gap: 2rem;
}
#aboutpage-portrait-img {
  grid-area: image;
  width: 100%;
}
.aboutpage-text-div {
  grid-area: text;
}
#aboutpage-contact-div {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
}
.aboutpage-link-group {
  display: flex;
  gap: 5px;
}
.aboutpage-link-group a,
.proj-indepth-desc-section a,
.paragraph-style-link,
.webdev-a {
  color: var(--marigold);
}
.aboutpage-link-group a:hover,
.proj-indepth-desc-section a:hover,
.paragraph-style-link:hover,
.webdev-a:hover {
  color: var(--burnt-abmer);
}

@media screen and (max-width: 768px) {
  /*homepage*/
  .homepage-contacts-div {
    display: none;
  }
  /*aboutpage*/
  .aboutpage-text-div p,
  #aboutpage-contact-div p,
  .aboutpage-link-group a {
    /*target a <p> tag inside a <div> with a class="aboutpage-text-div" and p in #aboutpage-contact-div*/
    font-size: 0.9rem;
  }
  #aboutpage-greeting {
    font-size: 1.3rem;
  }
  /*footer*/
  #homepage-footer-contacts {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .homepage-grid-div {
    display: grid;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-areas: "image" "text" "contacts";
    grid-template-columns: 1fr;
    /* gap: 2rem; */
  }
  .homepage-text-div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  #aboutpage-grid-div {
    grid-template-areas: "text text" "image contacts";
    grid-template-columns: minmax(100px, 200px) auto;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/*---*/
/* PROJECTS */
/*---*/
.project-group-h {
  font-weight: 200;
  font-size: 1.2rem;
}
.project-title {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.webdev-project-title {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.proj-section {
  padding-left: 5vw;
  padding-right: 5vw;
}
#last-proj-section {
  /*to add space between last project section and footer in project page*/
  margin-bottom: 5rem;
}
.proj-section-heading {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}
.webdev-section-heading {
  padding-top: 7rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: center;
}
#proj-logo-loveandcr,
#proj-logo-paulalucane {
  margin-top: auto;
  margin-bottom: auto;
}
#proj-logo-paulalucane,
#proj-logo-thebeatles {
  padding: 2%;
}
/*hover for project images*/
.proj-section img {
  filter: grayscale(0%);
  transition: filter 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.proj-section img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
.proj-section .webdev-img {
  filter: grayscale(0%);
  transition: filter 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.proj-section .webdev-img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

/*---*/
/*PROJECT PAGES*/
/*---*/
/*GENERAL*/
/**/
.project-title-page-heading {
  /*usually applied to h2*/
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
h3,
.mimic-h3 {
  font-family: "roca", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--stormcould-blue);
  margin-top: 2rem;
}
.proj-desc,
.proj-indepth-desc-section a,
.paragraph-style-link {
  font-weight: 300;
  font-size: 0.95rem;
}
.proj-desc-createdwith {
  font-weight: 400;
  font-size: 0.95rem;
}
.proj-indepth-desc-section {
  /*above 992px*/
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 1rem;
  margin-bottom: 2rem; /*matches the last-proj-image margin*/
}
.last-proj-img {
  /*to add space between last image and footer in individual project pages*/
  margin-bottom: 2rem;
}
@media screen and (max-width: 992px) {
  /*under 992px but above 600px*/
  .proj-indepth-desc-section {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 600px) {
  /*under 600px*/
  .proj-indepth-desc-section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
/*INDIVIDUAL*/
/**/
/*coffeetable book and title layout*/
.coffebook-layout1,
.title-layout1 {
  padding-left: 30vw;
  margin-top: 1rem;
}
.coffebook-layout2,
.title-layout2 {
  padding-right: 30vw;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
/*img-padding-10vw used to be for love-and-cr-img, .ai-im, .change-of-heart-img, .light-shadow-stamps, .organizing-group, .reflectio-group, #mindlog-site-map*/
.img-padding-10vw {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 10px;
}
.ai-cover-img {
  max-width: 50%;
  padding-top: 10px;
}

.cmbyn-sticker-sheet {
  padding-left: 20vw;
}
.img-padding-15vw {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/*img-padding-20vw used to be for .organizing-elements, .pastiche, .culture-day*/
.img-padding-20vw {
  padding-left: 20vw;
  padding-right: 20vw;
}
/*img-padding-25vw used to be for .pottery-class, .collage, .halloween-movienight*/
.img-padding-25vw {
  padding-left: 25vw;
  padding-right: 25vw;
}
/* culture days */
/* only used if individual images are used to display the grid, not in use currently */
.culture-day-group-grid {
  display: grid;
  grid-template-columns: 46.3% 53.7%; /* 2 columns */
  grid-template-rows: auto auto;
  gap: 1rem;
  grid-template-areas:
    "first third"
    "second third";
}
.cd-grid-item1 {
  grid-area: first;
}
.cd-grid-item2 {
  grid-area: second;
}
.cd-grid-item3 {
  grid-area: third;
}
/*logos*/
.logo-section {
  /*logo section for the beatles and lilly bloom's*/
  padding-left: 10vw;
  padding-right: 10vw;
}
.lillyblooms-logo {
  padding: 10px;
}
#lillyblooms-logo-text {
  padding: 40px;
}
.extra-space-div {
  height: 50px;
}
/*book cover*/
/*stylised colour swatch circles*/
.color-swatch-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1rem; */
}
.color-swatch {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}
#book-cover-pink.color-swatch {
  background-color: #924551;
}
#book-cover-orange.color-swatch {
  background-color: #da7905;
}
#book-cover-blue.color-swatch {
  background-color: #728ca1;
}
#book-cover-brown.color-swatch {
  background-color: #502a24;
}
.color-swatch-group p {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1px;
}
/*personal branding*/
#portrait-illustration-grid {
  display: grid;
  grid-template-areas: "item";
  align-items: center;
  justify-items: center;
}
#personal-branding-portrait-img {
  grid-area: item;
  z-index: 0;
  height: 30vw;
}
#personal-branding-illustration-img {
  grid-area: item;
  z-index: 1;
  height: 35vw;
}
#animated-logo-full-width-background {
  background-color: #49565f; /*matches the video background*/
  margin-top: 4rem;
  justify-content: center;
}
#animated-logo-video {
  height: 240px;
}
#personal-branding-values {
  color: var(--marigold);
}
#poppins-font-background {
  background-color: var(--stormcould-blue);
}
#roca-font-background {
  background-color: var(--blush-pink);
}
#poppins-font-background p {
  color: var(--misty-white);
  font-weight: 300;
  font-size: 0.95rem;
  text-align: center;
}
#roca-font-background p {
  color: var(--marigold);
  font-size: 0.95rem;
  font-family: "roca", sans-serif;
  text-align: center;
}
.color-swatch-name {
  font-family: "roca", sans-serif;
  font-style: normal;
  color: var(--midnight-blue);
  text-wrap: nowrap;
  padding-bottom: 1rem;
}
#blush-pink-color-swatch {
  background-color: var(--blush-pink);
}
#marigold-color-swatch {
  background-color: var(--marigold);
}
#amber-color-swatch {
  background-color: var(--burnt-abmer);
}
#midnight-blue-color-swatch {
  background-color: var(--midnight-blue);
}
#stormcloud-color-swatch {
  background-color: var(--stormcould-blue);
}
#misty-white-color-swatch {
  background-color: var(--misty-white);
}
/* because of different dom structure for different screen sizes, I have hidden one section on the larger screens and hidden the other on smaller */
#imagery-container-small-screen,
#logo-group-small-screen,
#pattern-image-small-screen,
#socialmedia-container-small-screen {
  display: none;
}
#imagery-container-big-screen,
#logo-group-big-screen,
#pattern-image-big-screen,
#socialmedia-container-big-screen {
  display: flex;
}
#branding-icon-flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
#branding-icon-flexbox img {
  flex: 1 1 120px;
  max-width: 120px;
  min-width: 90px;
  height: auto;
}

#mockup-full-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vw;
}
.mockup-flex-row {
  display: flex;
  flex-wrap: nowrap;
  gap: 1vw;
  justify-content: center;
}
#mockup-full-flex img {
  max-height: 24vw;
}
/*MEDIA QUARIES FOR INDIVIDUAL PROJECT PAGES*/
@media screen and (max-width: 992px) {
  /*under 992px and above 600px*/
  .color-swatch {
    width: 10vw;
    height: 10vw;
  }
  .img-padding-15vw {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #imagery-container-small-screen,
  #socialmedia-container-small-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.5vw;
  }
  #logo-group-small-screen,
  #pattern-image-small-screen {
    display: flex;
  }
  #imagery-container-big-screen,
  #logo-group-big-screen,
  #pattern-image-big-screen,
  #socialmedia-container-big-screen {
    display: none;
  }
  #mockup-full-flex img {
    max-height: 30vw;
  }
  #personal-branding-portrait-img {
    height: 38vw;
  }
  #personal-branding-illustration-img {
    height: 45vw;
  }
}
@media screen and (max-width: 768px) {
  /*under 768px*/
  .img-padding-15vw {
    padding-left: 0;
    padding-right: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #animated-logo-video {
    height: 180px;
  }
  #poppins-font-background p,
  #roca-font-background p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  /*under 600px*/
  .color-swatch {
    width: 12vw;
    height: 12vw;
  }
  #poppins-font-background p,
  #roca-font-background p {
    font-size: 0.6rem;
  }
  #branding-icon-flexbox img {
    max-width: 100px;
    min-width: 80px;
  }
  #personal-branding-portrait-img {
    height: 45vw;
  }
  #personal-branding-illustration-img {
    height: 55vw;
  }
  #animated-logo-video {
    height: 160px;
  }
}

/*---*/
/*ANIMATION FOR HOMEPAGE ILLUSTRATIONS*/
/*---*/
#homepage-illustration-img,
#personal-branding-illustration-img {
  animation: pulsate 2s infinite; /* 2s = duration of the cycle, infinite = repeat forever */
  animation-delay: 1s; /* Start pulsing after a 1-second delay*/
}
@keyframes pulsate {
  0% {
    transform: scale(1); /* Normal size */
    opacity: 1; /* Fully visible */
  }
  30% {
    transform: scale(1.05); /* Slightly larger */
    opacity: 0.7; /* Slightly faded */
  }
  60% {
    transform: scale(1); /* Back to normal size */
    opacity: 1; /* Fully visible again */
  }
  100% {
    transform: scale(1); /* Back to normal size */
    opacity: 1; /* Fully visible again */
  }
}

/*scroll animation*/
.proj-section-heading h1,
.proj-section h2,
.webdev-a {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 30%;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.proj-section img {
  animation: fade-img linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
}
@keyframes fade-img {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
